.petWrapper {
  width: 70%;
  margin: 0 auto;
}

.initials {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: #000;
}
.petInit {
  width: 80px;
  height: 80px;
  background: #f0f6ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.city {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #8588a3;
}
.cardBorder2 {
  border-radius: 10px;
  padding: 1.5rem;
  background: #f8fafd !important;
  border-radius: 10px;
}
.cardBorder3 {
  border-radius: 10px;
  padding: 1.5rem;
}
.cardBorder4 {
  width: 100%;
  height: 20rem;
  border-radius:10px
}
.yt {
  width: 80%;
  margin: 5rem auto;
}

.imgWidth {
  width: 100%;
  height: 100%;
}

.petName {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.9rem;
  color: #58667e;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 210px);
  grid-gap: 10px;
  justify-content: center;
}

.title {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.9rem;
  color: #58667e;
}

.petDesc {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2.1rem;
  color: #58667e;
}

.locDesc {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: var(--color-primary);
}

.Box {
  background: #f0f6ff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  width: 14.7rem;
  padding: 0.5rem;
}
.petCta {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.details {
  border: none;
  background: var(--color-primary);
  outline: none;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
  border-radius: 30px;
  padding: 0.7rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #fff;
  cursor: pointer;
}

.ctaCancel {
  border: none;
  background: #f3f5fb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
  padding: 0.7rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #58667e;
  cursor: pointer;
}

.ctaAdopt {
  border: none;
  background: var(--color-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
  padding: 0.7rem;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #fff;
  cursor: pointer;
}
.que {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color:var(--color-grey);
}
.subx{
  color: var(--color-red)
}