.button {
  border: none;
  background: var(--color-primary);
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width:30%;
  padding:1rem;
  color: #fff;
}

.btn {
  padding: .75rem;
  border: none;
  border-radius: var(--border-radius);
  background: transparent;
  cursor: pointer;
}

.btn:not(:last-child){
    margin-right: 2rem;
}

.theme-light{
background: rgba(248, 250, 253, var(--opacity));
}
.theme-dark{
  background: rgba(24,32,57,var(--opacity));
  }